<button id="@(ModalId)-dismiss-action" 
    type="button"  
    aria-label="Dismiss this dialog" 
    class="@(DismissActionClass)"
    @attributes="@(AdditionalAttributes)">
    @(DismissActionName)
</button>
<script>
    (function() {
        var dismiss = document.getElementById("@(ModalId)-dismiss-action");
        dismiss.onclick = function() {
            var modal = document.getElementById("@(ModalId)");
            modal.close();
        }
    })();
</script>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter] public string ModalId { get; set; } = null!;
    [Parameter] public string DismissActionName { get; set; } = "OK";
    [Parameter] public string DismissActionClass { get; set; } = null!;
}