<div id="@(Id)">
    @(ChildContent)
</div>
<script>
    (function() {
        var trigger = document.getElementById("@(Id)");
        var handler = function() {
            document.getElementById('@(ModalId)').showModal();
            htmx.trigger('#@(ModalId)', 'opened', { id: "@(DeferredContentRouteValue)" });
        }
        trigger.onmousedown = @(TriggerOnMouseDown ? "handler" : "null");
        trigger.onclick = handler;
    })();
</script>

@code {
    [Parameter, EditorRequired] public string ModalId { get; set; } = null!;
    [Parameter] public string DeferredContentRouteValue { get; set; } = null!;
    [Parameter] public string Id { get; set; } = null!;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool TriggerOnMouseDown { get; set; }
    protected override void OnParametersSet() {
        if (string.IsNullOrWhiteSpace(Id)) {
            Id = Utilities.GenerateElementId();
        }
    }
}