<CascadingValue Name="@(nameof(Id))" Value="@(Id)">
    <dialog id="@(Id)" class="@(ContainerClass)">
        <div class="@(ModalClass)">
             @(ModalTitle)
            <form action="" method="dialog">
                @(ModalBody)
            </form>
        </div>
    </dialog>
</CascadingValue>

@code {
    [Parameter, EditorRequired] public string Id { get; set; } = null!;
    [Parameter, EditorRequired] public RenderFragment? ModalTitle { get; set; }
    [Parameter] public RenderFragment? ModalBody { get; set; }
    [Parameter] public string ContainerClass { get; set; } = null!;
    [Parameter] public string ModalClass { get; set; } = null!;
}