@implements IComponentModel<IGridModel<T>>
@typeparam T

@if (Model is null) {
    return;
}

@if (Model.IsSuspended) {
    <RxSuspenseBoundary
        Model="@(Model)"
        AdditionalAttributes="@(AdditionalAttributes)">
        @(SuspensionContent)
    </RxSuspenseBoundary>
    return;
}

<div id="@(Model.Id)">
    <input id="@(Model.StateKey)" type="hidden" /> 
    @(FilterContent)
    <div @attributes="@(AdditionalAttributes)">
        @(TableContent)
    </div>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter, EditorRequired] public IGridModel<T> Model { get; set; } = null!;
    [Parameter] public RenderFragment? SuspensionContent { get; set; }
    [Parameter] public RenderFragment? FilterContent { get; set; }
    [Parameter] public RenderFragment? TableContent { get; set; }
}